<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <div class="card border-success text-white">
                <div class="card-header" *ngIf="article.author">{{article.author}}</div>
                <div class="card-header" *ngIf="!article.author">Autor Desconocido</div>
                <div class="overflow">
                    <img *ngIf="article.urlToImage" src="{{article.urlToImage}}" class="card-img-top" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{article.title}}</h4>
                    <p class="card-text">{{article.description}}</p>
                </div>
                <div class="card-footer text-muted">
                   {{ article.publishedAt|date }}
                </div>
            </div>
        </div>
    </div>
</div>
